.burger-button {
  @include reset-button;
  @include even-element(48px);
  @include hover {
    background-color: var(--color-accent);
    border-radius: var(--border-radius-small);
  }

  position: relative;

  &::after {
    @include absolute-center;

    content: '';
    width: 50%;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 5px;
    box-shadow: 0 -8px, 0 8px;
  }
}
