.pagination {
    
    &__list {
        display: flex;
        align-items: center;
        column-gap: 19px;
    }

    &__button {
        @include reset-button;
        @include even-element(24px);

        color: var(--color-light);

        @include hover {
            color: var(--color-accent);
        }

        &.is-current {
            color: var((--color-accent));
        }
    }
}