.radios {
  display: flex;
  align-items: center;
  column-gap: 35px;

  @include mobile {
    justify-content: center;
    padding: 40px 52px 36px;
    background-color: var(--color-light-gray);
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  }
}
