.section {
  padding-block: var(--section-padding-y);

  &.section-hidden-x {
    overflow-x: hidden;
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-bottom: 80px;

    @include mobile {
      flex-direction: column;
      row-gap: 30px;
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &__description {
    max-width: 580px;
  }
}
