.soc1als {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__link {
    @include even-element(30px);
    @include flex-center(true);

    color: var(--color-dark);
    background-color: var(--color-light);
    border-radius: 50%;

    @include hover {
      background-color: var(--color-accent);
    }

    svg {
      width: 50%;
      height: 50%;
      color: inherit;
    }
  }
}
