.subscription-form {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 58px 40px;
  background-color: var(--color-dark-gray-alt);
  border-radius: var(--border-radius-medium);

  @include desktop {
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    padding: 40px;
  }

  @include tablet {
    max-width: 400px;
  }

  @include mobile {
    padding: 30px;
  }
}
