.contact {
  position: relative;
  overflow-x: hidden;

  @include mobile-above {
    padding: 60px;
    background-color: var(--color-light-gray);
    border-radius: var(--border-radius-large);
  }

  &__bg-image {
    @include square(650px);

    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    translate: -50% -50%;

    @include tablet {
      display: none;
    }
  }

  &__body,
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__body {
    max-width: 556px;

    @include mobile-above {
      row-gap: 40px;
    }

    @include mobile {
      margin-inline: auto;
    }

    @include mobile-s {
      max-width: 100%;
    }
  }

  &__form {
    row-gap: 25px;

    @include mobile {
      row-gap: 20px;
      margin-bottom: 30px;
      padding: 0 52px 40px;
      background-color: var(--color-light-gray);
      border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
    }
  }
}
