.header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding-block: 30px;
  background-color: var(--color-light);

  @include mobile {
    padding: 20px 5px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;

    @include tablet {
      column-gap: 20px;
    }
  }

  &__logo {
    @include desktop {
      max-width: 180px;
    }

    @include tablet {
      max-width: 122px;
    }

    @include mobile {
      max-width: 144px;
    }
  }

  &__menu {
    margin-left: auto;

    &-list {
      display: flex;
      column-gap: 40px;

      @include desktop {
        column-gap: 32px;
      }

      @include tablet {
        column-gap: 25px;
      }
    }

    &-link {
      display: inline-flex;
      align-items: center;
      height: var(--button-height);
      font-size: 20px;

      @include desktop {
        font-size: 18px;
      }

      @include tablet {
        font-size: 16px;
      }

      @include hover {
        color: var(--color-accent);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__button {
    @include desktop {
      height: 60px;
      padding-inline: 22px;
      font-size: 18px;
    }

    @include tablet {
      height: 50px;
      padding-inline: 16px;
      font-size: 16px;
    }
  }
}
